{% include "header.html" %}

<body>

    <form action="/" method="post" class="pure-form">
        <input type="text" id="search_query" name="search_query">
        <button type="submit" class="pure-button pure-button-primary">Search</button>

        <button type="button" class="pure-button">Randomize!</button>

    </form>


    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link">Recently Viewed</a>
            </li>
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link">New Connections</a>
            </li>

            <li class="pure-menu-item">
                <a href="" class="pure-menu-link">Popular Categories</a>
            </li>
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link">Popular Nodes</a>
            </li>

        </ul>
    </div>

</body>

</html>